body {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  overflow-y:auto;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}
.center-content{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap:2%;
}
@font-face {
  font-family: 'Nunito-Regular';
  font-weight: 400;
  src: local('Nunito'), url(./fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Light';
  font-weight: 300;
  src: local('Nunito'), url(./fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  font-weight: 700;
  src: local('Nunito'), url(./fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  font-weight: 600;
  src: local('Nunito'), url(./fonts/Nunito-SemiBold.ttf) format('truetype');
}
.container {
  position: relative;
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  grid-gap: 2px;
}

.container .box {
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: .5s;
  max-width:400px;
}


.container .box img {
  position: relative;
  max-width: 400px;
}
.container .box:nth-child(1) img {
    border-radius: 5px 0 0 5px;
}
.container .box:nth-child(3) img {
    border-radius:0 5px 5px 0;
}
.container .box:nth-child(4) img {
 border-radius: 5px 0 0 5px;
}
.container .box:nth-child(6) img {
  border-radius:0 5px 5px 0;
}

.container .box:nth-child(1) {
  grid-column: span 1;
  grid-row: span 1;
}

.container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}

.container .box:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 1;
}

.container .box:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}
.container .box:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1;
}

@media (max-width: 2560px) and (min-width:1440px) {
  .container {
    position: relative;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 2px;
  }
  .container .box img {
    position: relative;
    max-width: 800px;
    margin-right:10px;
  }
  .container .box {
    max-width: 800px;
    border-radius: 0;
  }
}

@media (max-width:1024px) and (min-width:800px){
    .container {
      position: relative;
      max-width: 90vw;
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: minmax(100px, auto);
      grid-auto-flow: dense;
      grid-gap: 2px;
    }

    .container .box img {
      position: relative;
      max-width: 341px;
      margin-right: 10px;
    }

    .container .box {
      max-width: 341px;
      border-radius: 0;
    }
}